<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.oilpea.schooldemo.demo.dao.AlumniMapper">
  <resultMap id="BaseResultMap" type="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_number" jdbcType="VARCHAR" property="stuNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avator" jdbcType="VARCHAR" property="avator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stu_number, name, avator, create_time
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alumni
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from alumni
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    insert into alumni (id, stu_number, name, 
      avator, create_time, description
      )
    values (#{id,jdbcType=INTEGER}, #{stuNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{avator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    insert into alumni
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stuNumber != null">
        stu_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="avator != null">
        avator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuNumber != null">
        #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avator != null">
        #{avator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    update alumni
    <set>
      <if test="stuNumber != null">
        stu_number = #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="avator != null">
        avator = #{avator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    update alumni
    set stu_number = #{stuNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      avator = #{avator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.oilpea.schooldemo.demo.pojo.Alumni">
    update alumni
    set stu_number = #{stuNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      avator = #{avator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>